body {
    background-color: var(--gray-light);
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 26px;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.section {
    padding: 0 20px;
    box-shadow: 0px 3.39px 5.64px 0px rgba(176, 190, 197, 0.32), 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);
    background: rgb(255, 255, 255);
}

.container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1024px;

}

.logo {
    width: 50px;
    height: 50px;
}

input {
    width: 100%;
}

input::placeholder {
    color: var(--gray);
    color: rgb(176, 176, 176);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    border: none;
    outline: none;
    background: none;
    padding: 17px 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-property: color background;
    transition-duration: 0.3s;
    transform-style: ease;
}

.btn:hover {
    color: var(--main-dark);
}

.btn--primary:hover {
    background: var(--main-light);

}

.btn--primary {
    background: var(--main);
    padding: 17px 35px;
}

.btn_icon {
    content: url('../img/plus.svg');
    margin-right: 4px;
}

.rotate {
    transform: rotate(180deg);
    fill: red;
}

.text-muted {
    font-size: small;
    color: var(--gray);
}

main .container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    align-items: center;
}

main .title {
    align-self: flex-start;
    margin-bottom: 26px;
}

.table-wrap {
    margin-bottom: 40px;
}

.btn--new {
    border: 2px solid var(--main);
    color: var(--main);
    padding: 12px 26px;
}

.btn--new .btn_icon {
    content: url('../img/human_picto.svg');
    margin-right: 10px;
}