.table-wrap {
    width: 100%;
    min-height: 300px;
    background-color: white;
    height: 400px;
    overflow-x: scroll;
    border: none;
    margin-bottom: 40px;
}

.table {
    width: 100%;
}

.table_head {
    color: var(--gray);
    font-size: 12px;
    font-weight: var(--def-fw);
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(255, 255, 255);
}

.table_head:hover {
    color: var(--main);
    transition: color 0.3s ease
}

.td-wrap {
    display: flex;
    flex-direction: row;
}

.td-wrap :first-child {
    margin-right: 20px;
}

.th-icon {
    content: url('../img/arrow.svg');
}

.th-data {
    color: var(--main);
    font-size: 10px;
    font-weight: var(--s-bold);
    line-height: 14px;
}

.th-active {
    color: var(--main)
}

.table_row {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
}